<div class="container">
    <div class="row">
        <div class="col-12">
            <label for="">Secciones</label>
            <section>
                <select [(ngModel)]="currentSection" (ngModelChange)="selectSection($event)" name="listSection" class="selectpicker" id="listSection">
                    <option value="">Seleccione una sección</option>
                    <option *ngFor= "let section of listSections" [value]="section">{{section}}</option>
                </select>
            </section>
            <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                <table class="table table-bordered sections">
                    <thead>
                        <th>#</th>
                        <th>Id Campo</th>
                        <th scope="col">Seleccionar</th>
                        <th scope="col">Etiqueta</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let campo of sections; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{campo.id_campo}}</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        id="{{campo.id_campo}}" name="{{campo.id_campo}}"
                                        [value]="campo.id_campo" (change)="onCheckBoxChange($event, campo)">
                                </div>
                            </td>
                            <td>
                                {{campo.etiqueta}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="this.form.controls['checkSection'].errors?.required">
                    <p class="error">
                        Se requiere una casilla de verificación, seleccione al menos un valor.
                    </p>
                </div>

                <!-- <div *ngIf="!isError && payload?.length">
                    <p>Se enviaran los siguientes ids</p>
                    {{payload}}
                </div> -->

                <input [attr.disabled]="this.form.controls['checkSection'].errors?.required" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<app-modal #modal [modalConfig]="modalConfig">
    <!-- <ng-container *ngFor="let data of modalConfig.data.catalogo?.valores"> -->
    <table class="table table-bordered catalogs">
        <thead>
            <th>#</th>
            <th>Id Valor</th>
            <th>Seleccionar</th>
            <th>descripcion</th>
        </thead>
        <tbody>
            <tr *ngFor="let valor of modalConfig.data.catalogo?.valores; index as i">
                <td>{{i + 1}}</td>
                <td>{{valor.id_valor}}</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                            id="{{valor.id_valor}}" name="{{valor.id_valor}}"
                            [value]="valor.id_valor" (change)="onCheckBoxChange($event, valor)">
                    </div>
                </td>
                <td>
                    {{valor.descripcion}}
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </ng-container> -->
</app-modal>