<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                <table class="table table-bordered">
                    <thead>
                        <th>Id</th>
                        <th scope="col">Seleccionar</th>
                        <th scope="col">Etiqueta</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let campo of sections; index as i">
                            <td>{{i + 1}}</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        id="{{'section_' + campo.id_campo}}" name="{{'section_' + campo.id_campo}}"
                                        [value]="campo.id_campo" (change)="onCheckBoxChange($event)">
                                </div>
                            </td>
                            <td>
                                {{campo.etiqueta}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <p class="error" *ngIf="this.form.controls['checkSection'].errors?.required">
                        Checkbox is required, select atleast one value.
                    </p>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<!-- <modal #modal [modalConfig]="modalConfig">
    It works!
</modal> -->

<app-modal #modal [modalConfig]="modalConfig"></app-modal>